<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>San Francisco Giants fans are fortunate to have some of the best broadcasters in the business. In off (odd) years, they nearly single-handedly make games watchable. In the NL West, they are matched by the singular talent of Vin Scully, who is just about the only redeemable quality of the Dodgers. This website celebrates some of their collective wit and wisdom. </p>
  <br class="clear"/>
  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'kruknkuip.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Kruk & Kuip</h2>
    <p>Mike Krukow pitched for the Giants from 1983-1989 and began broadcasting in 1990.</p>
    <p>
      Duane Kuiper played second base for the Giants from 1982-1985 and began broadcasting in 1987.
    </p>
  </div>
  <br class="clear"/>
  <br />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'vin_scully.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Vin Scully</h2>
    <p>The voice of the Dodgers since 1950.</p>
  </div>
</div>

<br class="clear" />


<br />
<br />
<br />